// Hamburger Menu

.menu-btn {
    position: absolute;
    z-index: 3;
    left: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: white;
        @include easeOut;
    }

    &.close {
        transform: rotate(180deg);

        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(11px, 10px);
            }
            &:nth-child(2) {
               opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(0px, 0px);
            }
        }
    }
}